{
  "3commas_api_key": "your_3commas_api_key_here",
  "3commas_api_secret": "your_3commas_api_secret_here",
  "3commas_bot_id": "your_3commas_bot_id_here",
  "3commas_bot_id2": "your_second_bot_id_here",
  "3commas_email_token": "your_3commas_email_token_here"
}
